.adminPortalContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.adminPortalHeading {
  grid-area: 1 / 1 / 2 / 6;

  display: flex;
  justify-content: center;
}
.adminPortalSidebar {
  grid-area: 2 / 1 / 6 / 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &List {
    list-style: none;
    padding-left: 4rem;

    width: 70%;
    height: 100%;
    text-align: left;
    font-size: 3rem;
    border-right: 1rem solid $color-secondary;
  }
}
.adminPortalMain {
  grid-area: 2 / 2 / 6 / 6;
}
