.navBar {
  background-color: $color-primary;
  height: 7rem;
  position: fixed; // changed from sticky
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  padding: 0 0rem;
  z-index: 1100;

  transition: all 0.3s;

  & &__gridPos-1 {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__gridPos-2 {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }

  &__gridPos-3 {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__gridPos-4 {
    grid-area: 1/4/2/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: $color-secondary;
    height: 2.5rem;
    cursor: pointer;

    &:hover {
      height: 3rem;
    }
  }

  &__icon:hover {
    color: $color-secondary;
  }

  &__item {
    margin-left: 0;
  }

  &__menuToggle {
    display: flex;
    align-items: center;
  }

  &__menuToggle.staggered-menu-wrapper {
    width: auto;
    height: 100%;
  }

  &__menuToggle .staggered-menu-header {
    position: static;
    padding: 0;
  }

  &__menuToggle .sm-toggle {
    color: $color-tertiary;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }

  &__menuToggle .sm-prelayers,
  &__menuToggle .staggered-menu-panel {
    top: 0;
    height: 100vh;
  }
}

.searchBar {
  align-items: center;
  display: flex;
  position: relative;

  &__input {
    background-color: rgba($color: $color-primary, $alpha: 0.5);
    border: none;
    border-radius: 2rem;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    width: 35rem;

    box-shadow: inset 0rem 0rem 0.5rem rgba($color: #000000, $alpha: 0.5);

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba($color: #000000, $alpha: 0.5);
      text-align: center;
    }
  }

  &__icon {
    position: absolute;
    margin-left: -25rem;
    width: 1.5rem;
    color: black;
    cursor: pointer;
  }
}

.logo {
  width: 5rem;
  height: 5rem;
  scale: 2;
}
