$color-primary: #ffffff;

$color-secondary: #00a7e1;

$color-tertiary: #003459;

$color-accent-1: #003459;

$color-accent-2: #00171f;

$data-Card-bg: #f5f5f5;
$data-Card-primary-text: #333333;
$data-Card-secondary-text: #777777;
$data-Card-tertiary-text: #aaaaaa;
$data-Card-green: #28a745;
$data-Card-red: #dc3545;

$navbar-height: 7rem;
